@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/64343da2177df3e679d9194d.64343da38ad28913b10eff10.xS5rfq9.hcp.png");

@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy-Semibold.otf") format("opentype");
}
@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Radomir Tinkov - Gilroy-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Radomir Tinkov - Gilroy-Regular.otf") format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

.surname {
  letter-spacing: 0.40px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.x825-k {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.blockchain {
  letter-spacing: 0.40px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.x24-h {
  letter-spacing: 0.40px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.percent {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.ethereum-10 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.x1055-k-10 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}